<section class="section" id="collaborations">
  <div class="container">
    <div class="section__head">
      <span class="text_colour">Our collaboration</span>
      <h2>Projects</h2>
     
    </div>
    <div class="collabs">
      <article class="collab">
        <div class="collab__meta"><span class="collaborator_name">HashGraph</span></div>
        <div><a href="#" class="collab__title">Collaborating with HashGraph to advance secure and scalable distributed ledger technologies powered by the Hedera Network and its high performance hashgraph consensus algorithm</a></div>
        
       
      </article>
