<footer class="footer" id="contact">
  <div class="container position-flex">
    <div class="footer__grid">
      <div class="footer__brand">
        <div style="margin-bottom:0">
          <img src="global/assests/svgviewer-output.svg" width="200px" height ="100px" alt="logo">
        </div>
      </div>
      <div class="footer__contact">
        <h4>Contact</h4>
        <ul>
          <li><a href="mailto:algobengal@gmail.com">algobengal@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

